/*

Add styles or override variables from the theme here.

*/

// Logo modifications
.td_navbar .navbar-brand svg {
  margin: 0; // Strangely won't be smaller than this...
}

// Color modifications (Note to self: Have vote on Discord to make sure colors are liked :) )
$primary: #1ea2ff;
$secondary: #ffbe3e;