/*

Add styles or override variables from the theme here.

*/

// Logo modifications
.td_navbar .navbar-brand svg {
  margin: 0; // Strangely won't be smaller than this...
}

// Color modifications (Note to self: Have vote on Discord to make sure colors are liked :) )
$primary: #2568fb;
$secondary: #fecd45;

// Change font to RedHat Display
$td-enable-google-fonts: true;
$td-google-font-name: 'Red+Hat+Display';
$td-google-font-family: 'Red+Hat+Display:300,300i,400,400i,700,700i';

